* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: 'Playfair Display', serif;
    --seconadry-font: 'Poppins', sans-serif;
    --logo-font: 'Playfair Display SC', serif;
    --background-color: #F9F7FE;
    --button-background: #6C63FF;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    color: black;
    font-family: var(--primary-font);
    font-weight: bold;
}

h4 {
    font-size: 36px;
}

p {
    font-family: var(--seconadry-font);
}

/*NAV Section*/
.logo {
    padding: 5px;
    max-width: 70px;
    max-height: 70px;
}
nav {
    padding: 10px 0;
    }

nav a {
    font-family: var(--seconadry-font);
    font-size: 16px;
    text-decoration: none;
    color: black;
    
}

nav a:hover {
    color: var(--button-background);
    transition: all 100ms ease-in-out;
}



nav li {
    display: inline;
    line-height: 65px;
    margin-left: 15px;
}

nav li.active a {
    color: var(--button-background);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}




/* Hero Section */
.hero{
    
    background: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 160px 20px;
}
.hero h1 {
    
    font-size: 96px;
    padding: 15px 20px;
    line-height: 1.5;
    
}

.hero p {
    
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.hero h2 {
    font-family: var(--seconadry-font);
    font-size: 24;
    opacity: 70%;
    line-height: 1.5;
}

.btn-branding {
    background: var(--button-background);
    border: 1px solid var(--button-background);
    color: #FFF;
    font-size: 18px;
    padding: 15px 30px;
    line-height: 27px;
    cursor: pointer;
}

.btn-branding:hover {
    background: var(--background-color);
    color: var(--button-background);
    transition: all 200ms ease-in-out;
}

.btn-branding-outline {
    color: var(--button-background);
    border: 1px solid var(--button-background);
    border-radius: 4px;
    font-size: 18px;
    padding: 15px 30px;
    line-height: 27px;
    cursor: pointer;
}

.btn-branding-outline:hover {
    background: var(--button-background);
    color: var(--background-color);
    transition: all 200ms ease-in-out;
}

.lower-hero {
    background: #fff;
    min-width: 100vw;

}

.lower-hero h3 {
    font-family: var(--seconadry-font);
    font-weight: normal;
    font-size: 18px;
    
}

.lower-hero h2 {
    font-family: var(--primary-font);
    font-size: 64px;
    color: black;
}

.lower-hero p {
    font-family: var(--seconadry-font);
    font-size: 16px;
    opacity: 70%;
    line-height: 30px;
}

.lower-hero img {
    
    background: var(--background-color);
    
    
}

.project-description {
    padding: 50px 60px;
}



/*ABout & Work Section */

.content-container {
    padding: 70px 20px;
}

.content {
    margin: 30px;
}

.content-container h1 {
    font-size: 64px;
    font-weight: 700;
}
.content-container h2 {
    font-family: var(--seconadry-font);
    font-size: 18px;
    font-weight: bold;
    
}

.content h3 {
    font-size: 24px;
    margin: 20px 0 0;
}

.content p {
    font-family: var(--seconadry-font);
    font-size: 16px;
    opacity: 70%;
}

.project-image img {
    
    background: var(--background-color);
    border-radius: 4px;
}

.project-description h2 {
    font-family: var(--primary-font);
    font-size: 24px;
}

.contact-link a {
    color: var(--button-background);
    font-size: 20px;
}


/*Footer*/

footer {
    margin: 50px 0;
}

footer .contact-box {
    background: var(--background-color);
    padding: 30px 120px;
    border-radius: 10px;
}

.contact-box h4 {
    font-family: var(--primary-font);
}

footer .email-link {
    color: #000;
    font-size: 24px;
    text-decoration: none;
    font-family: var(--seconadry-font);
}

footer .email-link:hover {
    color: var(--button-background);
}

footer .social-links a {
    margin: 0 20px;
    color: var(--button-background);
    background-color: var(--background-color);
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 50%;
}

footer .social-links a:hover {
    color: var(--background-color);
    background-color: var(--button-background);
    transition: all 100ms ease-in-out;
}


/*MEDIA QUERIES*/

@media (max-width: 900px) {
    .hero {
        padding: 80px 20px;
    }
      
    .hero h1 {
        font-size: 55px;
        line-height: 2;
    }
     
    .lower-hero h2 {
        font-size: 44px;
    }
    .project-description {
      padding: 0;
    text-align: center;
    }
     .container {
        text-align: center;
        padding: 0;
    }
    
    
    .logo {
        max-width: 60px;
         max-height: 60px;
         margin-top: 10px;
        margin-bottom: 10px;
         margin-left: 10px;
    
        }
    
        .nav-links {
            margin-right: 27px;
            
        }
    
        nav a {
            font-size: 14px;
        }
    
        footer .contact-box {
            padding: 30px;
        }
    .footer-email a {
        font-size: 18px;
    }

    h4 {
        font-size: 30px;
    }
    
    }

/*.work-inquiry {
    display: flex;
    background: var(--background-color);
    margin-top: 50px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}


    

.work-inquiry h3 {
    font-family: var(--primary-font);
    font-size: 46px;
    
}

.work-inquiry p {
    font-family: var(--seconadry-font);
    font-size: 18px;
    opacity: 70%;
}

.work-inquiry a {
    background: var(--button-background);
    border: 1px solid var(--button-background);
    color: #FFF;
    padding: 15px 30px;
    margin-top: 40px;
    cursor: pointer;
}

.work-inquiry a:hover {
    background: var(--background-color);
    color: var(--button-background);
    transition: all 200ms ease-in-out;
}

/*About Page*/
/*
.about-container {
    margin-top: 250px;
}

.about-container h1 {
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 64px;
    margin-top: -50px;
}



.about-container p {
    
}

.about-container a {
    background: var(--button-background);
    border: 1px solid var(--button-background);
    color: #FFF;
    padding: 15px 30px;
    margin-top: 40px;
    cursor: pointer;
}

.about-container a:hover {
    background: var(--background-color);
    color: var(--button-background);
    transition: all 200ms ease-in-out;
}

.work-heading {
    margin-top: 130px;
}

.work-heading h1 {
    font-family: var(--primary-font);
    font-size: 64px;
    font-weight: bold;
   
}

.contact-header h1 {
    font-family: var(--primary-font);
    font-size: 64px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 110px;
    margin-bottom: 500px;
}
/*
.contact-links {
    margin-top: -400px;
    margin-left: 100px;
    font-family: var(--seconadry-font);
    font-size: 18px;
}
*/